.form-group
  label(for="genre") Genre
  input#genre.form-control(name="genre", type="text", value=book.genre placeholder="Enter genre" disabled)
.form-group
  label(for="title") Title
  input#title.form-control(name="title", type="text", value=book.title placeholder="Enter title" disabled)
.form-group
  label(for="author") Author Name
  input#author.form-control(name="author", type="text", value=book.author placeholder="Enter author" disabled)
  .form-group
  label(for="edition") Year of Edition
  input#edition.form-control(name="edition", type="text", value=book.edition placeholder="Enter year(YYYY)" disabled)